* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #1b1b1b;
}
/* Style the header */
header {
  background-color: rgb(43, 43, 43);
  padding: 10px;
  text-align: center;
  font-size: 35px;
  color: #2980b9;
}
nav {
  float: left;
  width: 100%;
  background: #12a0ff;
  padding: 5px;
}

/* Style the list inside the menu */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: hsl(0, 0%, 29%);
}

li {
  float: left;
}
li a {
  display: block;
  color: #87cfff;
  padding: 14px 16px;
  text-decoration: none;
}



li a:hover {
  background-color: hsl(0, 0%, 50%);
  color: rgb(0, 50, 255);
  font-weight: bold;
}

article {
  float: left;
  padding: 20px;
  width: 100%;
  background-color: #2c2c2c;
 }

/* Clear floats after the columns */
section:after {
  content: "";
  display: table;
  clear: both;
}



/* Style the footer */
#contenedor {
  position: relative;
  min-height: 100vh;
  padding: 0;
}

#espaciado {
  padding-bottom: 10em;
}

footer {
  background-color: #494949;
  padding: 0px;
  text-align: center;
  color: white;
  position: absolute;
  bottom: 0%;
  width: 100%;
  height: 8em;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}

iframe {
  height: 100vh;
  display: block;
  border: none;
  overflow: hidden;
  margin-left: 25px;
  
}

#home {
  height: auto;
  max-width: 40px;
  position: fixed;
  top: 4%;
  right: 2%;
  filter: drop-shadow(100%);
}

#home:hover {
  filter: invert(90%);
}

/* Iconos rss y atom */

#atom {
  height: auto;
  max-width: 30px;
  position: absolute;
  top: 9vh;
  left: 2vw;
  filter: drop-shadow(100%);
}

#atom:hover {
  filter: invert(90%);
}

#rss {
  height: auto;
  max-width: 30px;
  position: absolute;
  top: 15vh;
  left: 2vw;
  filter: drop-shadow(100%);
}

#rss:hover {
  filter: invert(90%);
}